.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.container {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
}
@black: #000000;
@white: #ffffff;                                            
@basic-green: #68b738;
@basic-grey: #f2f2f2;   
@special-grey: #CDCDCD;
@special-grey-2: #666666;
@special-grey-3: #EAEAEA;
@special-grey-4: #EBEBEB;
@special-grey-5: #d9d9d9;
@special-grey-6: #F2F2F2;
@special-grey-7: #E5E5E5;
@special-grey-8: #e7e7e7;
@special-grey-10: #bababa;
@special-grey-11: #d9d9d9;
@special_dark-grey: #444444;



@font-face {
    font-family: "Oswald Regular";
    src: url("/source/fonts/oswaldregular.woff2") format("woff2"),
        url("/source/fonts/oswaldregular.woff") format("woff");
}

@font-face {
    font-family: "Oswald Medium";
    src: url("/source/fonts/oswaldmedium.woff2") format("woff2"),
        url("/source/fonts/oswaldmedium.woff") format("woff");
}

.bg-img-position {
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.size(@h: auto; @w: auto) {
    height: @h;
    width: @w;
}

section {
    margin-bottom: 20px;
}

ul {
    padding: 0;
    margin: 0;
}

main {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    background-color: @white;
    color: @black;
    width: 320px;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    font-family: "Oswald Regular", sans-serif;
}

button {
    cursor: pointer;
}
@media (min-width: 768px) and (max-width: 1440px) {
    body {
        width: 768px;
    }
    .container {
        width: 709px;
    }
}

@media (min-width: 1440px) {
    body {
        width: 1440px;
    }
}