.advantages {
    position: relative;
}

.advantages__title {
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
}

.advantages__list {
    margin: 0;
    padding: 0;
}

.advantages__item {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 60px;
    margin-bottom: 20px;
    position: relative;
}

.advantages__text {
    font-family: Arial, sans-serif;
    position: relative;
    left: 80px;
    height: 54px;
    width: 200px;
    color: #444444;
    top: 3px;
}

.advantages__image {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #68b738;
    border: 15px solid #68b738;
}

@media (min-width: 768px) and (max-width: 1440px) {
    .advantages__list {
        display: grid;
        grid-template-columns: 326px 326px;
        grid-template-rows: 280px 280px;
        gap: 30px 30px;
        grid-auto-flow: row;
        grid-template-areas: "item1 item2""item3 item4";
        width: 1220px;
        height: 590px;
    }

    .advantages__item {
        width: 326px;
        padding-right: 74px;
        width: 250px;
        height: 280px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 120px 129px;
        gap: 31px 0px;
        grid-auto-flow: row;
        grid-template-areas: "image .""text text";
    }

    .advantages__image {
        align-self: end;
        grid-area: image;
        padding: 10px;
        position: relative;
    }

    .advantages__text {
        &::after {
            content: "1";
            display: block;
            position: absolute;
            font-family: "Oswald Regular", sans-serif;
            font-size: 280px;
            font-style: normal;
            font-weight: 400;
            line-height: 280px;
            letter-spacing: 0em;
            text-align: center;
            color: #F2F2F2;
            left: 118px;
            top: -151px;
            width: 136px;
            height: 280px;
            z-index: -1;
        }

        width: 245px;
        height: 72px;
        grid-area: text;
        justify-self: start;
        align-self: start;
        margin: 0;
        position: relative;
        left: -0px;
        font-family: Arial,
        sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
    }

    .advantages__item-1 {
        grid-area: item1;
    }

    .advantages__item-2 {
        grid-area: item2;

        .advantages__text {
            &::after {
                content: "2";
            }
        }
    }

    .advantages__item-3 {
        grid-area: item3;

        .advantages__text {
            &::after {
                content: "3";
            }
        }
    }

    .advantages__item-4 {
        grid-area: item4;

        .advantages__text {
            &::after {
                content: "4";
            }
        }
    }

    .advantages__title {
        width: 375px;
        height: 60px;
        font-size: 60px;
        font-style: normal;
        font-weight: 400;
        line-height: 60px;
        letter-spacing: 0em;
        text-align: center;
    }
}

@media (min-width: 1440px) {
    .advantages__list {
        display: flex;
        justify-content: space-between;
        width: 1220px;
    }

    .advantages__item {
        width: 326px;
        padding-right: 0px;
        width: 250px;
        height: 280px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 120px 129px;
        gap: 31px 0px;
        grid-auto-flow: row;
        grid-template-areas: "image .""text text";
        width: 250px;
        height: 280px;
    }

    .advantages__image {
        align-self: end;
        grid-area: image;
        padding: 10px;
        position: relative;
    }

    .advantages__text {
        &::after {
            content: "1";
            display: block;
            position: absolute;
            font-family: "Oswald Regular", sans-serif;
            font-size: 280px;
            font-style: normal;
            font-weight: 400;
            line-height: 280px;
            letter-spacing: 0em;
            text-align: center;
            color: #F2F2F2;
            left: 118px;
            top: -151px;
            width: 136px;
            height: 280px;
            z-index: -1;
        }

        width: 245px;
        height: 72px;
        grid-area: text;
        justify-self: start;
        align-self: start;
        margin: 0;
        position: relative;
        left: -0px;
        font-family: Arial,
        sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
    }

    .advantages__item-1 {
        grid-area: item1;
    }

    .advantages__item-2 {
        grid-area: item2;

        .advantages__text {
            &::after {
                content: "2";
                left: 112px;
            }
        }
    }

    .advantages__item-3 {
        grid-area: item3;

        .advantages__text {
            &::after {
                content: "3";
                left: 113px;
            }
        }
    }

    .advantages__item-4 {
        grid-area: item4;

        .advantages__text {
            &::after {
                content: "4";
                left: 113px;
            }
        }
    }

    .advantages__title {
        width: 375px;
        height: 60px;
        font-size: 60px;
        font-style: normal;
        font-weight: 400;
        line-height: 60px;
        letter-spacing: 0em;
        text-align: center;
    }
}