.advantages {
    position: relative;

    .advantages__title {
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: center;
    }

    .advantages__list {
        margin: 0;
        padding: 0;
    }

    .advantages__item {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
        margin: 0;
        padding: 0;
        list-style: none;
        height: 60px;
        margin-bottom: 20px;
        position: relative;
    }

    .advantages__text {
        font-family: Arial, sans-serif;
        position: relative;
        left: 80px;
        height: 54px;
        width: 200px;
        color: #444444;
        top: 3px;
    }

    .advantages__image {
        position: absolute;
        // left: 15px;
        width: 30px;
        height: 30px;
        background-color: @basic-green;
        border: 15px solid @basic-green;
    }
}
