.catalog {
    .products {
        display: flex;
        flex-direction: column;
        row-gap: 25px;

        &__item {
            position: relative;
            height: 210px;
            display: grid;
            grid-template-columns: 140px 141px;
            grid-template-rows: 112px 40px;
            grid-auto-columns: 1fr;
            grid-auto-rows: 1fr;
            gap: 13px 0px;
            grid-auto-flow: row;
            justify-content: center;
            align-content: center;
            justify-items: center;
            align-items: center;
            grid-template-areas:
                "image block_info"
                "button button";
            width: 280px;
            top: -20px;



            &::after {
                content: "";
                display: block;
                width: 320px;
                height: 0;
                border: 1px solid #EBEBEB;
                position: absolute;
                top: 210px;
            }
        }

        .product {
            &__image-link {
                grid-area: image;
            }

            &__item-order,
            .form__button {
                display: block;
                grid-area: button;
                height: 20px;
                width: 280px;
                left: 20px;
                top: 136px;
                border-radius: 0px;
                background-color: #68B738;
                text-transform: uppercase;
                text-decoration: none;
                color: rgb(255, 255, 255);
                text-align: center;
                padding: 10px 0;

            }

            &__info {
                grid-area: block_info;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 40px 45px;
                gap: 14px 0px;
                grid-auto-flow: row;
                grid-template-areas:
                    "title"
                    "info";
                grid-area: block_info;
                width: 100%;
                height: 100%;
            }

            &__description {

                // display: grid;
                // grid-template-columns: 1fr 1fr 1fr;
                // grid-template-rows: 1fr 1fr 1fr;
                // gap: 0px 0px;
                // grid-auto-flow: row;
                // grid-template-areas:
                //     ". . ."
                //     ". . ."
                //     ". . .";
                // grid-area: info;
                height: 45px;
                width: 142px;
                font-family: Arial, sans-serif;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
                letter-spacing: 0em;
                text-align: center;

                .description-table {
                    &__row {
                        width: 142px;
                        height: 16px;
                    }

                    &__cell {
                        text-align: right;

                        &:nth-child(1) {
                            text-align-last: left;
                        }
                    }
                }
            }

            &__title {
                height: 40px;
                width: 76px;
                margin: 0;
                margin-left: 4px;
            }

            &__item-link {
                display: block;
                grid-area: title;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: 0em;
                text-align: left;
                text-transform: uppercase;
                text-decoration: none;
                color: #000;
                height: 40px;
                width: 76px;
                margin: 0;
            }
        }

        .catalog__all {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 160px;

            .catalog__show {
                // &-all-icon {}

                &-more-text {
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    letter-spacing: 0em;
                    text-align: center;
                    text-transform: uppercase;
                }

                &-text-small {
                    font-family: Arial,
                        sans-serif;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 16px;
                    letter-spacing: 0em;
                    text-align: center;
                }

                &-all-link {
                    display: block;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    letter-spacing: 0em;
                    text-align: center;
                    text-transform: uppercase;
                    width: 279px;
                    left: 21px;
                    top: 1776px;
                    border-radius: 0px;
                    background-color: #F2F2F2;
                    color: #444;
                    text-decoration: none;
                    height: 40px;
                    margin-top: -10px;
                    padding: 10px 0;
                }
            }
        }
    }
}