.catalog {
    .products {
        display: flex;
        flex-direction: column;
        row-gap: 25px;

        .products__item {
            position: relative;
            height: 210px;
            display: grid;
            grid-template-columns: 140px 141px;
            grid-template-rows: 112px 40px;
            grid-auto-columns: 1fr;
            grid-auto-rows: 1fr;
            gap: 13px 0px;
            grid-auto-flow: row;
            justify-content: center;
            align-content: center;
            justify-items: center;
            align-items: center;
            grid-template-areas:
                "image block_info"
                "button button";
            width: 280px;
            top: -20px;



            &::after {
                content: "";
                display: block;
                width: 320px;
                height: 0;
                border: 1px solid @special-grey-4;
                position: absolute;
                top: 210px;
            }
        }

        .product {
            .product__image-link {
                grid-area: image;
            }

            .product__item-order,
            .form__button {
                display: block;
                grid-area: button;
                height: 20px;
                width: 280px;
                left: 20px;
                top: 136px;
                border-radius: 0px;
                background-color: @basic-green;
                text-transform: uppercase;
                text-decoration: none;
                color: @white;
                text-align: center;
                padding: 10px 0;

            }

            .product__info {
                grid-area: block_info;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 40px 45px;
                gap: 14px 0px;
                grid-auto-flow: row;
                grid-template-areas:
                    "title"
                    "info";
                grid-area: block_info;
                width: 100%;
                height: 100%;
            }

            .product__description {
                height: 45px;
                width: 142px;
                font-family: Arial, sans-serif;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
                letter-spacing: 0em;
                text-align: center;

                .description-table {
                    .description-table__row {
                        width: 142px;
                        height: 16px;
                    }

                    .description-table__cell {
                        text-align: right;

                        &:nth-child(1) {
                            text-align-last: left;
                        }
                    }
                }
            }

            .product__title {
                height: 40px;
                width: 76px;
                margin: 0;
                margin-left: 4px;
            }

            .product__item-link {
                display: block;
                grid-area: title;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: 0em;
                text-align: left;
                text-transform: uppercase;
                text-decoration: none;
                color: @black;
                height: 40px;
                width: 76px;
                margin: 0;
            }
        }

        .catalog__all {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 160px;

            .catalog__show {

                .catalog__show-more-text {
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    letter-spacing: 0em;
                    text-align: center;
                    text-transform: uppercase;
                }

                .catalog__show-text-small {
                    font-family: Arial,
                        sans-serif;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 16px;
                    letter-spacing: 0em;
                    text-align: center;
                }

                .catalog__show-all-link {
                    display: block;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    letter-spacing: 0em;
                    text-align: center;
                    text-transform: uppercase;
                    width: 279px;
                    left: 21px;
                    top: 1776px;
                    border-radius: 0px;
                    background-color: @basic-grey;
                    color: @special_dark-grey;
                    text-decoration: none;
                    height: 40px;
                    margin-top: -10px;
                    padding: 10px 0;
                }
            }
        }
    }
}