.program {
  background-image: linear-gradient(to bottom,
      @basic-green 302px,
      transparent 302px),
    url(/source/img/index-background-mobile.png);
  .bg-img-position();
  background-position: top;
  color: @white;
  text-align: center;
  margin: 0;
  margin-top: -30px;

  .program__title {
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    position: relative;
    top: 20px;
  }

  .program__text {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    top: 20px;
  }

  .program__image {
    height: 260px;
    width: 280px;
    position: relative;
    top: 37px;
  }

  .program__link {
    height: 24px;
    width: 280px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: @basic-green;
    display: block;
    color: @white;
    text-decoration: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    position: relative;
    top: 31px;
  }
}
