// Resolutions
@desktop: ~"(min-width: 1300px)";
@tablet: ~"(min-width: 768px)";
@mobile-only: ~"(max-width: 767px)";

@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;

// variables for applying font
@main-font: "Oswald", "Arial", sans-serif;

// variables for colors
@green: #68b738;
@white: #ffffff;
@black: #000000;
@light-gray: #f2f2f2;
@gray: #e6e6e6;
@dark-gray: #555555;
